<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'pure-form pure-form-aligned' }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field pure-control-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, autofocus: true %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :address_1 %>
    <%= f.text_field :address_1 %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :address_2 %>
    <%= f.text_field :address_2 %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :address_3 %>
    <%= f.text_field :address_3 %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :address_4 %>
    <%= f.text_field :address_4 %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :city_id %>
    <%= f.text_field :city_id %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :status %>
    <%= f.text_field :status %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :producer %>
    <%= f.check_box :producer %>
  </div>
  <div class="field pure-control-group">
    <%= f.label :consumer %>
    <%= f.check_box :consumer %>
  </div>

  <div class="field pure-control-group">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field pure-control-group">
    <%= f.label :password %><br /><i>(leave blank if you don't want to change it)</i>
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field pure-control-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field pure-control-group">
    <%= f.label :current_password %><br /><i>(we need your current password to confirm your changes)</i>
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="field pure-control-group">
    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
